*{
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  font-family: 'Oswald', sans-serif;

}
body{
  background-color: #00112B;
}
.container {

  overflow: hidden;
  background-color: orange;
  width: 1000px;

  margin: 0 auto;
}
form {
  opacity: 0;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #0063F8;
  color: #FFB219;;

}
.blabla{
  height: 30px;
}

.header {
  margin-left: 0px;

}

#prvoD {
  margin-left: 450px;

  width: 50px;
  height: 20px;
}



#genres {
  clear: both;
  float: left;
  width: 150px;
  background-color: #0063F8;
  font-size: 4px;
  margin-top: 20px;
  margin-left: -1000px;
  text-align: center;
  position: fixed;


}
li {
  list-style-type: none;
}

a{
  color: #FFB219;
  text-decoration: none;


}

a:hover {
  color: #AB7200;
  background-color: #0045AB;
  padding: 0 35px;

}

.header a{
  color: red;
  background-color: darkgreen;
  padding: 0 10px;

}
#movies{
  float: right;
    margin-right: -700px;
    width: 650px;


}
.movie {
  width: 300px;
  margin: 5px;


  display: inline-block;
  position: relative;

}



#dugme{
  float: left;
  width: 50px;
  height: 20px;

}
